@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
    :root {
        /* Theme color */
        --theme-r1: 247;
        --theme-g1: 140;
        --theme-b1: 169;

        --threshold: 0.5;

        --r1: calc(var(--theme-r1) * 0.2126);
        --g1: calc(var(--theme-g1) * 0.7152);
        --b1: calc(var(--theme-b1) * 0.0722);
        --perceived-lightness1: calc((var(--r1) + var(--g1) + var(--b1)) / 255);

        /* --color-primary: rgb(var(--theme-r1), var(--theme-g1), var(--theme-b1)) !important; */
        /* --theme-primary-fg: hsl(0, 0%, calc((var(--perceived-lightness1) - var(--threshold)) * -10000000%)); */
        --theme-primary-fg: 0 0% calc((var(--perceived-lightness1) - var(--threshold)) * -10000000%);
        --theme-primary-bg: var(--theme-r1) var(--theme-g1) var(--theme-b1);

        overflow-x: hidden;

        /* text color */
        --text-primary: 15 23 42; /*slate 900*/
        --text-secondary: 51 65 85; /*slate 700*/
        --text-tertiary: 71 85 105; /*slate 600*/
        --text-quaternary: 100 116 139; /*slate 500*/

        /* reader default */
        --reader-paper: 250 243 233;
        --reader-bg: 246 231 210;
    }

    :root.dark {
        /* text color */
        --text-primary: 248 250 252;
        --text-secondary: 241 245 249;
        --text-tertiary: 226 232 240;
        --text-quaternary: 203 213 225;
    }

    body {
        @apply text-primary;
    }
}

@layer utilities {
    .style-3d {
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
    }

}

@layer components {
    .translate-book1-open {
        transform: perspective(2000px) rotateY(-30deg);
    }

    .shadow-book1-inner {
        box-shadow: 10px 5px 10px -2px #00000030,
            inset -2px 0 0 grey, inset -4px 0 0 #dbdbdb,
            inset -6px 0 0 white, inset -8px 0 0 #dbdbdb,
            inset -10px 0 0 white, inset -12px 0 0 #dbdbdb,
            inset -14px 0 0 white, inset -16px 0 0 #dbdbdb;
    }


    /* ==================== Main swiper ==================== */

    .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        @apply mx-2 relative w-3 h-3 bg-theme-bg1 opacity-40;
    }

    .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet::before {
        @apply absolute top-1/2 left-1/2 w-4 h-4 -translate-x-1/2 -translate-y-1/2 border-solid border-theme-bg1 rounded-full;
        content: "";
    }

    .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:hover,
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
        @apply opacity-100;
    }

    .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
        @apply border;
    }

    .swiper-button-next {
        @apply -translate-x-12;
    }

    .swiper-button-prev {
        @apply translate-x-12;
    }

    .swiper-button-prev,
    .swiper-button-next {
        @apply opacity-0 transition-all duration-500 text-theme-bg1;
    }

    .swiper:hover .swiper-button-prev,
    .swiper:hover .swiper-button-next {
        @apply translate-x-0 opacity-100;
    }


    /* ==================== Wordpress widget ==================== */
    .wp-widget .widgettitle {
        @apply text-lg font-semibold text-slate-700
    }

    /* ==================== Arrow icon ==================== */

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    /* ==================== star ratings ==================== */
    .rating-stars {
        --rating: 0;
        --percent: calc(var(--rating) / 10 * 100%);
        --star-background: rgb(156, 163, 175);
        --star-color: currentColor;
        display: inline-block;
        /* font-family: Times; */
    }

    .rating-stars::before {
        content: "⭐⭐⭐⭐⭐";
        @apply tracking-wide;
        /* letter-spacing: 3px; */
        background: linear-gradient(90deg, var(--star-color) var(--percent), var(--star-background) var(--percent));

        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* ==================== Card border ==================== */
    .card-bd1 {
        @apply rounded-lg bg-slate-50 shadow-lg border-t-4 border-theme-bg1 border-solid relative;
    }

    .card-bd2 {
        @apply rounded-lg shadow-md bg-white;
    }

    /* ==================== Slider ==================== */
    
    .slider-round {
        @apply appearance-none bg-gray-200 bg-opacity-70 rounded-full transition-colors duration-200 cursor-pointer;
    }

    .transition-underline {
        /* you can change these variables to control the border */
        /* --border-color: #000;
        --border-width: 5px;
        --bottom-distance: 0px; */
        /* you can increase this */
        /*         
        color: #666;
        display: inline-block; */
        @apply bg-gradient-to-t from-theme-bg1 to-theme-bg1 bg-no-repeat transition-[background-size];
        /* background-image: linear-gradient(var(--border-color), var(--border-color)); */
        background-size: 0% 5px;
        /* background-repeat: no-repeat; */
        /* transition: background-size; */
        /* margin: 5px 0; */
    }

    .transition-underline-center {
        @apply transition-underline;
        background-position: 50% 100%;
    }

    .transition-underline-right {
        @apply transition-underline;
        background-position: 100% 100%;
    }

    .transition-underline-left {
        @apply transition-underline;
        background-position: 0 100%
    }

    .trigger-underline {
        background-size: 100% 5px;
    }
}