@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
    :root {
        /* Theme color */
        --theme-r1: 247;
        --theme-g1: 140;
        --theme-b1: 169;

        --threshold: 0.5;

        --r1: calc(var(--theme-r1) * 0.2126);
        --g1: calc(var(--theme-g1) * 0.7152);
        --b1: calc(var(--theme-b1) * 0.0722);
        --perceived-lightness1: calc((var(--r1) + var(--g1) + var(--b1)) / 255);

        /* --color-primary: rgb(var(--theme-r1), var(--theme-g1), var(--theme-b1)) !important; */
        /* --theme-primary-fg: hsl(0, 0%, calc((var(--perceived-lightness1) - var(--threshold)) * -10000000%)); */
        --theme-primary-fg: 0 0% calc((var(--perceived-lightness1) - var(--threshold)) * -10000000%);
        --theme-primary-bg: var(--theme-r1) var(--theme-g1) var(--theme-b1);

        overflow-x: hidden;

        /* text color */
        --text-primary: 15 23 42; /*slate 900*/
        --text-secondary: 71 85 105; /*slate 600*/
        --text-tertiary: 107 114 128; /*gray 500*/
        --text-quaternary: 156 163 175; /*gray 400*/
        --text-quinary: 209 213 219; /*gray 300*/

        /* background color */
        --bg-primary: 255 255 255;
        --bg-secondary: 249 249 251;
        --bg-tertiary: 255 255 255;
        --bg-quaternary: 235 234 234;

        /* reader default */
        --reader-paper: 250 243 233;
        --reader-bg: 246 231 210;
    }

    :root.dark {
        /* text color */
        --text-primary: 248 250 252;
        --text-secondary: 241 245 249;
        --text-tertiary: 226 232 240;
        --text-quaternary: 203 213 225;


        /* background color */
        --bg-primary: 27 27 27;
        --bg-secondary: 52 52 52;
        --bg-tertiary: 78 78 78;
        --bg-quaternary: 52 52 52;
    }

    body {
        @apply text-primary;
    }
}

@layer utilities {
    .style-3d {
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
    }

}

@layer components {
    .translate-book1-open {
        transform: perspective(2000px) rotateY(-30deg);
    }

    .shadow-book1-inner {
        box-shadow: 10px 5px 10px -2px #00000030,
            inset -2px 0 0 grey, inset -4px 0 0 #dbdbdb,
            inset -6px 0 0 white, inset -8px 0 0 #dbdbdb,
            inset -10px 0 0 white, inset -12px 0 0 #dbdbdb,
            inset -14px 0 0 white, inset -16px 0 0 #dbdbdb;
    }


    /* ==================== Main swiper ==================== */

    .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        @apply mx-2 relative w-3 h-3 bg-theme-bg1 opacity-40;
    }

    .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet::before {
        @apply absolute top-1/2 left-1/2 w-4 h-4 -translate-x-1/2 -translate-y-1/2 border-solid border-theme-bg1 rounded-full;
        content: "";
    }

    .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:hover,
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
        @apply opacity-100;
    }

    .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
        @apply border;
    }

    .swiper-button-next {
        @apply -translate-x-12;
    }

    .swiper-button-prev {
        @apply translate-x-12;
    }

    .swiper-button-prev,
    .swiper-button-next {
        @apply opacity-0 transition-all duration-500 text-theme-bg1;
    }

    .swiper:hover .swiper-button-prev,
    .swiper:hover .swiper-button-next {
        @apply translate-x-0 opacity-100;
    }


    /* ==================== Wordpress widget ==================== */
    .wp-widget .widgettitle {
        @apply text-lg font-semibold text-slate-700
    }

    /* ==================== Arrow icon ==================== */

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        aspect-ratio: 1;
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    /* ==================== star ratings ==================== */
    .rating-stars {
        --rating: 0;
        --percent: calc(var(--rating) / 10 * 100%);
        --star-background: rgb(156, 163, 175);
        --star-color: currentColor;
        display: inline-block;
        /* font-family: Times; */
    }

    .rating-stars::before {
        content: "⭐⭐⭐⭐⭐";
        @apply tracking-wide;
        /* letter-spacing: 3px; */
        background: linear-gradient(90deg, var(--star-color) var(--percent), var(--star-background) var(--percent));

        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .rating-stars.no-rating::before {
        content: "⭐";
    }

    /* ==================== Loading fade ==================== */
    
    .loader-fade {
        @apply relative;
        /* width : $size;
        height: $size;
        display: inline-block;
        position: relative;
        &::after , &::before {
          content: '';
          width : $size;
          height: $size;
          border-radius: 50%;
          background: $lite;
          position: absolute;
          left:0;
          top: 0;
          animation: animloader14 2s linear infinite;
        }
        &::after {
          animation-delay: 1s;
        } */
      }

      .loader-fade::before,
      .loader-fade::after {
        @apply inset-0 absolute bg-current animate-fade-out-expand rounded-full;
        content: "";
      }
      .loader-fade::after {
        animation-delay: -1s;
      }

    /* ==================== Card border ==================== */
    .card-bd1 {
        @apply rounded-lg shadow-lg border-t-4 border-theme-bg1 border-solid;
    }

    .card-bd2 {
        @apply rounded-lg shadow-md bg-white;
    }

    /* ==================== Slider ==================== */
    
    .slider-round {
        @apply appearance-none bg-gray-200 bg-opacity-70 rounded-full transition-colors duration-200 cursor-pointer;
    }

    .transition-underline {
        /* you can change these variables to control the border */
        /* --border-color: #000;
        --border-width: 5px;
        --bottom-distance: 0px; */
        /* you can increase this */
        /*         
        color: #666;
        display: inline-block; */
        @apply bg-gradient-to-t from-theme-bg1 to-theme-bg1 bg-no-repeat transition-[background-size];
        /* background-image: linear-gradient(var(--border-color), var(--border-color)); */
        background-size: 0% 5px;
        /* background-repeat: no-repeat; */
        /* transition: background-size; */
        /* margin: 5px 0; */
    }

    /* ==================== user dashboard nav ==================== */
    /* 伪元素还是不适合用tailwind，太勾八长了 */
    .inverse-rounded-right::before,
    .inverse-rounded-right::after {
        @apply absolute aspect-square right-0 h-1/2 transition;
    }

    .inverse-rounded-right::before {
        @apply bottom-full;
        mask-image: radial-gradient(farthest-side at 0 0, #0000 98%, #000 100%); /* 98%-100%抗锯齿 */
        -webkit-mask-image: radial-gradient(farthest-side at 0 0, #0000 98%, #000 100%);
    }

    .inverse-rounded-right::after {
        @apply top-full;
        mask-image: radial-gradient(farthest-side at 0 100%, #0000 98%, #000 100%);
        -webkit-mask-image: radial-gradient(farthest-side at 0 100%, #0000 98%, #000 100%);
    }

    /* ==================== user dashboard nav ==================== */
    .btn-style1 {
        @apply cursor-pointer rounded-lg shadow transition-colors border border-transparent;
    }

    .btn-style1-blue {
        @apply btn-style1;
        @apply hover:bg-blue-400 hover:text-white text-blue-400 bg-white border-blue-400;
    }

    .btn-style1-amber {
        @apply btn-style1;
        @apply hover:bg-amber-500 hover:text-white text-amber-500 bg-white border-amber-500;
    }

    .btn-style1-green {
        @apply btn-style1;
        @apply hover:bg-green-500 hover:text-white text-green-500 bg-white border-green-500;
    }

    .btn-style1-rose {
        @apply btn-style1;
        @apply hover:bg-rose-500 hover:text-white text-rose-500 bg-white border-rose-500;
    }

    .btn-style2-rose {
        @apply btn-style1;
        @apply bg-rose-500 text-white hover:text-rose-500 hover:bg-white hover:border-rose-500;
    }

    /* ==================== user dashboard nav ==================== */
    .muuri-item.muuri-item-dragging {
        z-index: 3;
    }
    .muuri-item.muuri-item-releasing {
        z-index: 2;
    }
    .muuri-item.muuri-item-hidden {
        z-index: 0;
    }

    .transition-underline-center {
        @apply transition-underline;
        background-position: 50% 100%;
    }

    .transition-underline-right {
        @apply transition-underline;
        background-position: 100% 100%;
    }

    .transition-underline-left {
        @apply transition-underline;
        background-position: 0 100%
    }

    .trigger-underline {
        background-size: 100% 5px;
    }
}